.nav-bar{
    background-color: white;
    position: fixed;
    top: 57px;
    left: 0px;
    bottom: 0px;
    width: 72px;
    flex-direction: column;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    height: 74px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-family: Roboto, Arial;
    font-weight: 500px;
    
}
.sidebar-link:hover{
    background-color: #eceaea;
    
    
}
.sidebar-icons{
    height: 24px;
    margin-bottom: -5px;
}
