body{
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 26px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
}
.video-grid{
    display: grid;
    margin-top: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
@media(max-width:500px){
    .video-grid{
        grid-template-columns: 1fr;
    }
}

@media (min-width:501px) and (max-width: 750px ){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1000px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.div-video-block{
    width: 100%;
}
.div-thumbnail{
    width: 100%;
    position: relative;
}
.div-video-details{
    display: grid;
    grid-template-columns: 11% 1fr;
    width: 100%;
    margin-top: 10px;
}
.div-channel-logo{
    vertical-align: top;
}

.div-video-title{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-left: 8px;
}
.div-video-stats{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-left: 8px;
    margin-top: 5px;
    color: rgb(106, 106, 106);
}
.div-channel-name{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-left: 8px;
    margin-top: 10px;
    color: rgb(106, 106, 106);
}


.thumbnail-img{
    width: 100%;
    
}
.channel-img{
    width: 100%;
    border-radius: 50%;
}
.time-stamp{
    position: absolute;
    bottom: 11px;
    right: 4px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-left: 4px;
    border-radius: 2px;
    font-weight: 500;
    font-family: Roboto, Arial, sans-serif;
}